<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9dx8c6oZLNov7I7J7ARyH3Gjmjouyg-g</string>
	<key>GCM_SENDER_ID</key>
	<string>486186946253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ledgix.erp.ledgixerp</string>
	<key>PROJECT_ID</key>
	<string>ledgix-erp</string>
	<key>STORAGE_BUCKET</key>
	<string>ledgix-erp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486186946253:ios:a1e115f2ea9a4f8af8a384</string>
</dict>
</plist>